.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 100px;
  padding: 10px 0;
  margin-bottom: 6px;
  
}

.header h1 {
  font-size: 26px;
  color: #21b809;
  margin: 0;
}




.mapContainer {
  flex: 3;
  height: 100%;

}

.map {
  width: 100%;
  height: 100%;
}

.cardContainer {
  flex: 2;
  background-color: #f9f9f9;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.controls {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.manualLocation {
  display: flex;
  align-items: center;
}

.manualLocation input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.manualLocation button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.manualLocation button:hover {
  background-color: #0056b3;
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.hoveredCard {
  border: 2px solid #007bff;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #007bff;
}

.card p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.card a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #28a745;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}